@tailwind base;

@tailwind components;

@tailwind utilities;

.prose code:not([class*="language-"]) {
  background-color: theme('colors.gray.300');
  font-size: theme('fontSize.sm');
  padding: theme('padding.1') theme('padding.2');
  margin: 0 theme('margin.1');
  border-radius: theme('borderRadius.md');
  white-space: nowrap;
}

.prose pre[class*="language-"] {
  line-height: theme('lineHeight.8');
  padding: theme('padding.6') theme('padding.8');
  border-radius: theme('borderRadius.md');
  box-shadow: theme('boxShadow.lg');
  margin: theme('margin.8') 0;
}
